{% extends "base.html" %}

{% block body_block %}
<h1>{{ post.title }}</h1>
<p>Seeker: <a href="{% url 'profile' post.seeker.id %}">{{ post.seeker }}</a></p>
<p>Description: {{ post.description }}</p>
<p>Require skill: {{ post.req_skill }}</p>
<p>Status: {{ post.status }}</p>
<p>Reward point: {{ post.points }}</p>
{% if post.seeker == user %}
    <strong><a href="{% url 'posts:applications' post.id%}">View applications for this post</a></strong>
{% else %}
    {% if post.status == "PENDING"%}
        <strong><a href="{% url 'posts:apply' post.id %}">I want to help!</a></strong>
    {% else %}
        This post is closed
    {% endif %}
{% endif %}
{% endblock %}