{% extends "base.html" %}

{% block body_block %}

<p><a href="{% url 'posts:post-create' %}">Create a new post</a></p>
<p>Here is the list of post</p>
{% if post_list %}
    <ul>
    {% for post in post_list %}
    <li><a href="{% url 'posts:post' post.id %}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
<p>You can search for a post here:</p>
<form action="{% url 'posts:search-result' %}" method=get> 
    
    <input name="q" type="text" placeholder="Search here" maxlength="40">
</form>
<p>Review a past giver</p><a href="{% url 'posts:review' %}">here</a>
{% endblock %}