{% extends "base.html" %}
{% block body_block %}
<h1>Review list</h1>
{% if review_list %}
    <ul>
        {% for review in review_list %}
        <li>
            <a>From </a> 
            <a href="{% url 'profile' review.seeker.id %}">{{ review.seeker }}</a>
            <a> to </a>
            <a href="{% url 'profile' review.giver.id%}">{{ review.giver }}</a> 
            <a> for </a>
            <a href="{% url 'posts:post' review.post.id %}">{{ review.post.title }}</a>
            <p>Comment: {{ review.comment }}</p>
            <p>Ratings: {{ review.ratings }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No review for this user yet</p>
{% endif %}
{% endblock %}